/*====================================================================================================*/
/*General styles*/
/*====================================================================================================*/

@font-face {
    font-family: grinched;
    src: url('../fonts/grinched.ttf');
}

* {
    margin:0;
    padding: 0;
    font-family: grinched;
}

html {
    /* overflow: hidden; */
    /* overflow-y: hidden; */
    font-size: 16px;
    height:100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 441px;
    height: 100%;
    background-image: url("../images/background.png");
}

header,main,footer {
    opacity:0;
    animation: 2s fadein 1s forwards;
}

@keyframes fadein {
    100%{
        opacity:1;
    }
}

/*====================================================================================================*/
/*Header styles*/
/*====================================================================================================*/

header {
    order: 0;
    flex-basis: 15vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 6rem;
}

header div {
    align-self: flex-start;
}

#swinging-bomb {
    transform-origin: 50% 0;
    animation: swinging 2.5s ease-in-out infinite;
}

@keyframes swinging {
    0%, 100% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg);
    }
  }

  #shadow {
    width: 2rem;
    height: 0.3rem;
    background: gray;
    border-radius: 50%;
    margin: 1.3rem auto 0;
    animation: moveShade 1.25s ease-in-out alternate infinite;
  }

  @keyframes moveShade {
    0% {
      transform: translateX(-6rem) scale(1.4);
      filter: blur(1.3rem);
    }
    50% {
      filter: blur(0.2rem);
    }
    100% {
      transform: translateX(6rem) scale(1.4);
      filter: blur(1.3rem);
    }
  }

header nav ul {
    display:flex;
    justify-content: space-between;
}

header nav ul li {
    list-style: none;
    display: inline;
    font-size: 2rem;
    padding: 0 1rem;
    opacity: 0.5;
}

header nav ul li:hover {
    opacity:1;
    cursor: pointer;
}


@media screen and (max-width:940px) {
    header h1 {order: 1;padding-bottom:1rem;}
    header div {order:0;}
    header nav {order: 2;padding-bottom:1rem;}
}

/*====================================================================================================*/
/*Main section styles*/
/*====================================================================================================*/

main {
    order: 1;
    font-size: 2rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-basis: 75vh;
    flex-wrap: wrap;
}

@media screen and (max-width:538px) {
    main {
        flex-direction:column;
    }
    #options p {padding-bottom:1rem;}

    #game-place {text-align:center}
}
/*====================================================================================================*/

#options {
    order:0;
    flex-basis: 18vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow:1
}

#options p {
    text-align: center;
}

.input {
    min-width: 14vw;
    border: 0.2rem solid #b7b7b7;
    border-radius: 0.5rem;
    color: rgb(0, 0, 0);
    background: rgba(252,252,252,1);
    box-shadow: 0 0 0.2rem 0 rgba(0,0,0,0.2) inset;
    text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.66);
    font-size: 1.5rem;
    text-align: center;
    
}

.select {
    border: 0.2rem solid #b7b7b7;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    min-width: 14vw;
    box-shadow: 0 0 0.2rem 0 rgba(0,0,0,0.2) inset;
    cursor: pointer;
}

.input:disabled, .select:disabled {
    background:rgb(219, 218, 218);
}

.btn {

    border-radius: 0.5rem;
    box-shadow: 0 0 0.2rem 0 rgba(0,0,0,0.2) inset;
    color: #050505;
    font-size: 1.5rem;
    background: #ffffff;
    padding: 0.2rem 0rem;
    border: 0.2rem solid #000000;
    text-decoration: none;
    min-width: 7vw;
    cursor: pointer;
  }
  
.btn:hover {
    background: #050505;
    text-decoration: none;
    color:white;
  }
  
.btn:disabled {
    opacity: 0.5;
    border-color:#b7b7b7;
    pointer-events: none;
  }

#time-string {
    color: rgb(130, 137, 151);
    font-size: 3rem;    
}

/*====================================================================================================*/

#game-place {
    order:1;
    flex-basis: 62vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remove {
    display: none;
}

/*====================================================================================================*/

.beginner td {
    line-height: 0;
    text-align: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    color:white;
    text-align:center;
    width: 3.1rem;
    height: 3.1rem;
    border: 2px solid rgb(104, 104, 104);
    border-radius: 0.5rem;
    background-color: rgb(176, 174, 185);
    transition: all 0.5s linear;
    font:2rem grinched;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

    }

.intermediate td{
    color:white;
    text-align:center;
    width: 1.9rem;
    height: 1.9rem;
    border: 2px solid rgb(104, 104, 104);
    border-radius: 0.5rem;
    background-color: rgb(130, 137, 151);
    transition: all 0.5s linear;
    font:1.5rem grinched;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.expert td{
    color:white;
    text-align:center;
    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid rgb(104, 104, 104);
    border-radius: 0.5rem;
    background-color: rgb(130, 137, 151);
    transition: all 0.5s linear;
    font: 1rem grinched;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}  

td:hover {
    background-color: rgb(245, 243, 240);
    border-radius: 50%;
    border-color:rgb(130, 137, 151);
}

.clicked {
    transition: none;
}

.clicked:hover {
    background-color: rgb(130, 137, 151);
    border-color:rgb(104, 104, 104);
    border-radius: 0.5rem;
}

.beginner .empty, .intermediate .empty, .expert .empty { 
    background-color:white;
    border-color:rgb(119, 117, 115);
    transition: none;
}

.empty:hover {
    background-color:white;
    border-color:rgb(119, 117, 115);
    transition: none;
    border-radius: 0.5rem;
}

/*====================================================================================================*/
/*Welcom screen style*/
/*====================================================================================================*/

#welcome-screen h2 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 3rem;
}
   
#welcome-screen p {
    text-align: center;
    font-size: 2rem;
}
   
#welcome-screen #good-luck {
    padding-top: 2rem;
    color:rgb(130, 137, 151);
}
   
.remove, {
    display: none;
}

/*====================================================================================================*/
/*About Game Styles*/
/*====================================================================================================*/

#about-game {
    font-size: 1.5rem;
}

#about-game h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    color:rgb(130, 137, 151);
}

#about-game h3 {
    padding-bottom: 1rem;
    color: rgb(130, 137, 151);
}

/*====================================================================================================*/
/*Game Rules Styles*/
/*====================================================================================================*/

#game-rules {
    font-size: 2rem;
}

#game-rules h2 {
    font-size: 3rem;
    padding-bottom: 3rem;
    color: rgb(130, 137, 151);
}

/*====================================================================================================*/

#score-table{
    order:2;
    flex-basis: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#score-table h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#game-mode-name {
    color:rgb(130, 137, 151);
    padding-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

#score-list {
    list-style-position: inside;
    font-size: 1.7rem;
}

/*====================================================================================================*/
/*Footer styles*/
/*====================================================================================================*/

footer {
    order:2;
    min-height: 8vh;
    font-size: 1rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

footer div {
/* flex-grow:1; */
text-align: center;
}
footer p {
  /* flex-grow: 8; */
  text-align: center;
  /* padding-left: 15rem; */
}

/*====================================================================================================*/

.big-boom {
    position: absolute;
    top: -10rem;
    left: 10rem;
    width: 80%;
    z-index: 10;
    opacity:1;
    animation: 2s boomFadeout 2s forwards;
}

@keyframes boomFadeout {
    100% {opacity: 0; visibility: hidden;}
}

.game-over {
    position: absolute;
    z-index:100;
    top: 13rem;
    left: 26rem;
    opacity:0;
    animation: 1s fadein 5s forwards;
}

.table{
    opacity: 1;
    animation: 3s boomFadeout 2s forwards;
}

.win {
    position:absolute;
    top: 10rem;
    left: 28rem;
    animation: 3s fadein 0.5s forwards;
    opacity:0;
}