/*====================================================================================================*/
/* General styles*/
/*====================================================================================================*/
@font-face {
    font-family: grinched;
    src: url('../fonts/grinched.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 20px grinched,sans-serif;
}

/*====================================================================================================*/
/*Rest*/
/*====================================================================================================*/

.hidden {
    visibility: hidden;
}



td {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(130, 137, 151);


    
    
    }